<div class="box">
  <p class="home_work">home works!</p>
  <p class="home_work">home works lan 2!</p>
  <h2>Chao ban {{ age }}</h2>
  <input type="text" [(ngModel)]="age" title="Day la age" />

  <!-- <h2 *ngIf="age > 18">Ban qua gia roi</h2>
  <h2 *ngIf="age <= 18">Ban qua con tre lam</h2> -->
  <button (click)="resetValue()">Reset Value</button>

  <div *ngIf="age > 18 then gia; else tre"></div>

  <ng-template #tre>Ban con tre lam</ng-template>
  <ng-template #gia>Ban da gia roi</ng-template>

</div>
