<div class="box">
  <h3>Day la component Home</h3>
  <h1>Trai cay</h1>
  <!-- <ul *ngFor="let fruit of fruits">
    <li>{{fruit}}</li>
  </ul> -->

  <table class="table">
    <tr>
      <th>Trai cay</th>
      <th>Gia</th>
      <th>Sale</th>
    </tr>
    <tr *ngFor="let fruit of fruits2; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ fruit.ten | uppercase }}</td>
      <td [ngClass]="{ salePrice: fruit.sale }">{{ fruit.gia }}</td>
      <td>{{ fruit.sale | onSale | uppercase }}</td>
    </tr>
  </table>
</div>
